@CHARSET "UTF-8";
body{background:#2F4056;padding:0;margin:0;}
/* 加载就绪标志 */
html #layuicss-skincodecss{display:none; position: absolute; width:1989px;}

/* 默认风格 */
.layui-code-view{display: block; position: relative; margin: 10px 0; padding: 0; border: 1px solid #ddd; border-left-width: 6px; background-color: #F2F2F2; color: #333; font-family: Courier New; font-size: 12px;}
.layui-code-h3{position: relative; padding: 0 10px; height: 30px; line-height: 30px; border-bottom: 1px solid #ddd; font-size: 12px;}
.layui-code-h3 a{position: absolute; right: 10px; top: 0; color: #999;}
.layui-code-view .layui-code-ol{position: relative; overflow: auto;}
.layui-code-view .layui-code-ol li{position: relative; margin-left: 45px; line-height: 20px; padding: 0 5px; border-left: 1px solid #ddd; list-style-type: decimal-leading-zero; *list-style-type: decimal; background-color: #fff;}
.layui-code-view pre{margin: 0;}

/* notepadd++风格 */
.layui-code-notepad{border: 1px solid #0C0C0C; border-left-color: #3F3F3F; background-color: #0C0C0C; color: #C2BE9E}
.layui-code-notepad .layui-code-h3{border-bottom: none;}
.layui-code-notepad .layui-code-ol li{background-color: #3F3F3F; border-left: none;}
.top-box{height:60px;background:#393D49;}
.left-menu{position:absolute;top:60px;left:0;width:200px;}
.main-content{background:#ffffff;border-left:200px solid #2F4056;padding-top:10px;padding-left:20px;padding-right:10px;min-height:1200px;}

.btn-drop{
	float:left;
	position:relative;
	margin-right:5px;
}
.page-drop{
	float:right;
	position:relative;
	margin-right:5px;
}

.btn-drown{
	position:absolute;
	width:100%;
}
.btn-drown > li{
	padding-top:5px;
	padding-bottom:5px;
	border:1px solid #e2e2e2;
	background:#fbfbfb;
}
.btn-drown > li > a{
	display:inline-block;
	height:30px;
	line-height:30px;
	width:100%;
	text-align:center;
}
.btn-drown > li > a:hover{
	background-color: #e6e6e6;
}

.layui-icon.font-size{
	font-size:30px;
}
.layui-icon.font-size20{
	font-size:20px;
}

.layui-icon20{
  font-family:"layui-icon" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.layui-icon20.color1{
	color:#FF5722;
}
.layui-icon20.color2{
	color:#669933;
}
.layui-icon20.color3{
	color:#003366;
}
.layui-icon20.color4{
	color:#006633;
}
.layui-icon20.color5{
	color:#FF3300;
}
.layui-icon20.color6{
	color:#336666;
}
.layui-icon20.color7{
	color:#FF9900;
}
.layui-icon20.color8{
	color:#FF3333;
}

.page-box{
	height:50px;
}

.domain-op-box{
	border:1px solid #C9C9C9;
	padding:20px;
}
